<style>
  nav p {
    font-size: 1rem;
  }
</style>
<footer class="bg-base-200 w-full flex justify-center">
  <div
    class="flex flex-col md:flex-row justify-evenly items-start gap-8 text-base-content p-10 w-full max-w-7xl"
  >
    <aside id="logo-footer"></aside>
    <nav class="flex flex-col">
      <h6 class="footer-title">Helpful Links</h6>
      <a href="../pages/about.html" class="link link-hover link-accent"
        >About us</a
      >
      <a href="../pages/services.html" class="link link-hover link-accent"
        >Services</a
      >
      <a href="../pages/colours.html" class="link link-hover link-accent"
        >Colours</a
      >
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Contact us</a
      >
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Free Quote</a
      >
    </nav>
    <nav class="flex flex-col">
      <h6 class="footer-title">Areas Served</h6>
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Elgin county</a
      >
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Middlesex county</a
      >
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Norfolk county</a
      >
      <a href="../pages/contact.html" class="link link-hover link-accent"
        >Kent county</a
      >
    </nav>
    <nav class="flex flex-col">
      <h6 class="footer-title">Services</h6>
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-1"
        >Concrete pads</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-2"
        >Driveways</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-3"
        >Walkways</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-4"
        >Patios</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-5"
        >Pool decks</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-6"
        >Foundations</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-7"
        >Concrete cutting</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-8"
        >Concrete sealing</a
      >
      <a
        class="link link-hover link-accent"
        href="../pages/services.html#service-9"
        >Maintenance</a
      >
    </nav>
    <nav class="flex flex-col">
      <h6 class="footer-title">Business Information</h6>
      <p class="font-bold mb-2">Country Rock Concrete</p>
      <a href="tel:15195555555" class="link link-hover link-accent mb-2"
        >1-519-555-5555</a
      >
      <a
        href="mailto:info@countryrockconcrete.com"
        class="link link-hover link-accent mb-2"
        >info@countryrockconcrete.com</a
      >
      <p class="mb-2">
        Monday - Saturday<br />
        7:00AM - 7:00PM
      </p>
      <p>© <span id="year"></span> - Country Rock Concrete</p>
    </nav>
  </div>
</footer>
