<style>
  a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: hsla(215.4, 16.3%, 46.9%, 1);
  }
  a:hover {
    background-color: hsla(215.4, 22.3%, 40.9%, 1);
  }
</style>
<a
  class="w-28 md:w-32 h-24 md:h-28 p-2 font-bold text-white shadow-sm flex flex-col justify-end items-start"
  href="../pages/index.html"
>
  <p class="text-xs text-nowrap md:text-sm text-left">Country Rock</p>
  <p class="text-lg md:text-xl">Concrete</p>
</a>
